.main{
    padding: 10px;
    height: 100vh;
}
.sidebar{
    min-height: 100vh;
    width: 300px;
    border-radius: 5px;
    background-color: purple;
    box-shadow: 0 0 2px gray;
    margin-right: 20px;
}
.layout{
    display: flex;
}
.content{
    height: 100%;
    width: 100%;
}
.header{
    min-height: 10vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
}
.body{
    min-height: 85vh;
    margin-bottom: 20px;
    box-shadow: 0 0 2px gray;
}
.logo h6{
    font-size: 1.5rem;
    text-align: center;
    margin: 20px 0px;;
}
.menu{
    margin-top: 50px;
}
.menu-item{
    margin-top: 30px;
    display: flex;
    align-items:start;
}
.menu-item a{
    color: white;
    text-decoration: none;
    font-size: 0.6rem;
}
.menu-item i{
    margin: 0 15px;
    color: white;
    margin-bottom: 0;
}
.active{
    background-color: white;
    padding: 10px;
}
.active a,.active i{
    color:purple;
}
.header-content{
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: flex-end;
    margin: 0 15px;
}
.header-content i{
    margin-right: 20px;
    font-size: 1.5rem;
}
.header-content a{
    text-decoration: none;
    font-size: 1.5rem;
    margin: 0 10px;
    text-transform: uppercase;
}