/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.spinner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 90;
  background-color: rgba(0, 0, 0, 0.15);
}
